{% extends "base.html.twig" %}

{% block title %}Toutes les recettes{% endblock %}
{% block body %}

    <div class="container">
        <p class="important">
            Voici la liste de toutes les recettes
        </p>

    {% for pair in recipes |batch(2)%}
    <div class="row">

        {% for recipe in pair %}
            <div class="col">
                <div class="card mb-2" >
                    <img class="card-img-top" src="{{ recipe.imageurl }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ recipe.title }}</h5>
                        <p class="card-text">{{ recipe.description }}</p>
                        <a href="{{ path('recipe.show', {id: recipe.id, slug: recipe.slug}) }}" class="btn btn-primary">Voir le détail</a>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
    {% endfor %}

        <div class="navigation mb-5">
            {{ knp_pagination_render(recipes) }}
        </div>
    </div>
{% endblock %}
